@model _24DH113182_LTW.Models.ViewModel.ProductDetailVM
@using PagedList.Mvc

<link rel="stylesheet" type="text/css" href="~/Content/myStyle/RelatedAndTopProduct.css" />


@*Hiển thị danh sách sản phẩm*@
@if (Model.TopProducts != null && Model.TopProducts.Any())
{
    <section class="container-fluid listProduct">
        <h4 style="font-weight: bold">Sản phẩm bán chạy</h4>
        <ul class="list-container">
            @foreach (var product in Model.TopProducts)
            {
                <li class="lproduct-item">
                    <div>
                        <a href="@Url.Action("ProductDetail", "Home", new {id = product.ProductID})">
                            <img src="@Html.DisplayFor(modelItem => product.ProductImage)"/>
                        </a>
                    </div>
                    <div>
                        <h5>@Html.DisplayFor(modeItem => product.ProductName)</h5>
                        <p class="prodSale">@Html.DisplayFor(modeItem => product.ProductPrice)</p>
                    </div>
                </li>
            }
        </ul>
    </section>
    @*Hiển thị phần trang*@
    <div class="pagination-container">
        @Html.PagedListPager(Model.TopProducts, page => Url.Action("ProductDeTail", new { id = Model.product.ProductID, quantity = Model.quantity, page }))
    </div>
}